
  <!-- MENU-->
  <div class="left-sidebar-pro">

    <nav id="sidebar">
      <div class="sidebar-header">
        <a href="#"><img src="assets/img/message/1.png" style="width: 60px;" alt="" />
        </a>
        <h3>Nk-System</h3>
        <p>Administrativo</p>
        <strong>AP+</strong>
    </div>
      <div class="left-custom-menu-adp-wrap">
        <ul class="nav navbar-nav left-sidebar-menu-pro">
          <li class="nav-item">
            <a routerLink="/main/dashboard" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
              <i class="fa big-icon fa-home"></i> <span class="mini-dn">Inicio</span> <span
                class="indicator-right-menu mini-dn"><i class="fa indicator-mn fa-angle-left"></i></span></a>

          </li>


          <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false"
            class="nav-link dropdown-toggle"><i class="fa big-icon fa-flask"></i> <span
              class="mini-dn">Portafolio</span> <span class="indicator-right-menu mini-dn"><i
                class="fa indicator-mn fa-angle-left"></i></span></a>
          <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">
            <a routerLink="/main/dashboard/portafolio/listararticulos" class="dropdown-item">Items</a>
            <a routerLink="/main/dashboard/portafolio/listarcontactos" class="dropdown-item">Contactos</a>
            <a routerLink="/main/dashboard/portafolio/listarempleados" class="dropdown-item">Empleados</a>
            <a routerLink="/main/dashboard/portafolio/listarvendedores" class="dropdown-item">Vendedor</a>
            <a routerLink="" class="dropdown-item">Activos Fijos</a>
            <a routerLink="/main/dashboard/portafolio/listaralmacenes" class="dropdown-item">Bodegas</a>
            <a routerLink="" class="dropdown-item">Centro de Costos</a>
            <a routerLink="" class="dropdown-item">Sucursales</a>
            <a routerLink="/main/dashboard/portafolio/listarcategorias" class="dropdown-item">Categorias</a>


          </div>
        </li>
        <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false"
          class="nav-link dropdown-toggle"><i class="fa big-icon fa-flask"></i> <span
            class="mini-dn">Compras</span> <span class="indicator-right-menu mini-dn"><i
              class="fa indicator-mn fa-angle-left"></i></span></a>
        <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">

          <a routerLink="" class="dropdown-item">Pre-Compra</a>
          <a routerLink="" class="dropdown-item">Remisión Proveedor</a>
          <a routerLink="/main/dashboard/compras/catalogodocumentodecompra-factura/facturacompra" class="dropdown-item">Facturas de Compras</a>
          <a routerLink="" class="dropdown-item">Pagos</a>
          <a routerLink="" class="dropdown-item">Estado de Cuenta(CXP)</a>


        </div>
      </li>
      <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false"
        class="nav-link dropdown-toggle"><i class="fa big-icon fa-pie-chart"></i> <span
          class="mini-dn">Ventas</span> <span class="indicator-right-menu mini-dn"><i
            class="fa indicator-mn fa-angle-left"></i></span></a>
      <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">
        <a routerLink="" class="dropdown-item">Pre-Venta</a>
        <a routerLink="" class="dropdown-item">Remisión Cliente</a>
        <a routerLink="/main/dashboard/ventas/catalogodocumentodeventa-cotizacion/cotizacion" class="dropdown-item">Cotizaciones</a>
        <a routerLink="/main/dashboard/ventas/catalogodocumentodeventa-factura/factura" class="dropdown-item">Facturas de Ventas</a>
        <a routerLink="" class="dropdown-item">Pagos</a>
        <a routerLink="/main/dashboard/ventas/cuentasporcobrar" class="dropdown-item">Estado de Cuenta(CXC)</a>


      </div>
    </li>
          <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false"
              class="nav-link dropdown-toggle"><i class="fa big-icon fa-flask"></i> <span
                class="mini-dn">Inventarios</span> <span class="indicator-right-menu mini-dn"><i
                  class="fa indicator-mn fa-angle-left"></i></span></a>
            <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">
              <a routerLink="/main/dashboard/inventarios/listarkardex" class="dropdown-item">Movimientos de Inventario</a>
              <a routerLink="/main/dashboard/inventarios/listarkardexproductos" class="dropdown-item">Kardex de Inventario</a>
              <!--<a routerLink="" class="dropdown-item">Existencias de Inventario</a>
              <a routerLink="" class="dropdown-item">Movimientos de Inventario</a>-->

            </div>
          </li>

          <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false"
            class="nav-link dropdown-toggle"><i class="fa big-icon fa-flask"></i> <span
              class="mini-dn">Ajustes</span> <span class="indicator-right-menu mini-dn"><i
                class="fa indicator-mn fa-angle-left"></i></span></a>
          <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">
            <a routerLink="/main/dashboard/ajustes/listarunidades" class="dropdown-item">Unidad de Medida</a>
            <a routerLink="/main/dashboard/ajustes/listarformaspagos" class="dropdown-item">Formas de Pago</a>
            <a routerLink="" class="dropdown-item">Paises</a>
            <a routerLink="" class="dropdown-item">Ciudades</a>
            <a routerLink="/main/dashboard/ajustes/listarmarcas" class="dropdown-item">Marca</a>

          </div>
        </li>


          <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false"
              class="nav-link dropdown-toggle"><i class="fa big-icon fa-bar-chart-o"></i> <span
                class="mini-dn">Reportes</span> <span class="indicator-right-menu mini-dn"><i
                  class="fa indicator-mn fa-angle-left"></i></span></a>
            <div role="menu" class="dropdown-menu left-menu-dropdown chart-left-menu-std animated flipInX">
              <a href="bar-charts.html" class="dropdown-item">Bar Charts</a>
              <a href="line-charts.html" class="dropdown-item">Line Charts</a>
              <a href="area-charts.html" class="dropdown-item">Area Charts</a>
              <a href="rounded-chart.html" class="dropdown-item">Rounded Charts</a>
              <a href="c3.html" class="dropdown-item">C3 Charts</a>
              <a href="sparkline.html" class="dropdown-item">Sparkline Charts</a>
              <a href="peity.html" class="dropdown-item">Peity Charts</a>
            </div>
          </li>
          <li class="nav-item">
            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
              <i class="fa big-icon fa-envelope"></i> <span class="mini-dn">Configuración</span> <span class="indicator-right-menu mini-dn"><i
                  class="fa indicator-mn fa-angle-left"></i></span></a>
            <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">
              <a routerLink="/main/dashboard/configuraciones/listartipoimpuestos" class="dropdown-item">Tipo Impuesto</a>
              <a routerLink="/main/dashboard/configuraciones/listarimpuestos" class="dropdown-item">Impuesto</a>
              <a routerLink="/main/dashboard/configuraciones/listarnumeraciondocumentos" class="dropdown-item">Numeracion de Documentos</a>

              <a routerLink="/main/dashboard/configuraciones/listarroles" class="dropdown-item">Roles</a>
              <a routerLink="/main/dashboard/configuraciones/listarusuarios" class="dropdown-item">Usuario</a>
              <a routerLink="/main/dashboard/configuraciones/asignarrol" class="dropdown-item">Asignar Roles</a>
              <a routerLink="/main/dashboard/configuraciones/listarempresas" class="dropdown-item">Empresas</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <!-- FIN MENU-->
