<div class="loading" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>


<form [formGroup]="formcategoria" (ngSubmit)="guardarCategoria($event)">

  <div class="content-inner-all">
    <!-- Breadcome start-->
    <div class="breadcome-area mg-b-30 small-dn">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcome-list shadow-reset">
              <div class="row">
                <div class="col-lg-6">
                  <div class="breadcome-heading">
                    <button type="submit" class="form-control">
                      <i class="fa fa-save" aria-hidden="true"></i>
                      Guardar</button>
                  </div>
                </div>
                <div class="col-lg-6">
                  <ul class="breadcome-menu">
                    <li>
                      <a routerLink="/main/dashboard">Inicio</a>
                      <span class="bread-slash">/ Inventario /</span>
                    </li>
                    <li>
                      <a routerLink="/main/dashboard/portafolio/listarcategorias"><span class="bread-blod">Listado de
                          Categorias /</span></a>
                    </li>
                    <li><span class="bread-blod">Crear</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="content-inner-all">
    <!-- Breadcome End-->
    <div class="admin-dashone-data-table-area mg-b-15">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="sparkline13-list shadow-reset">
              <div class="sparkline13-hd">
                <div class="main-sparkline13-hd">
                  <h1>
                    <i class="{{objetoimagen}}" aria-hidden="true"></i>
                    {{acciondeltitulo}} <span class="table-project-n"></span> Categoria
                  </h1>
                </div>
              </div>
              <div class="sparkline10-graph">

                  <div class="row">
                    <div class="col-lg-4">
                      <div id="pwd-container3">
                        <div class="form-group">
                          <div class="col-lg-6">
                            <mat-slide-toggle (change)="onChange($event)" formControlName="status">{{Objetoestado}}
                            </mat-slide-toggle>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <br>
                  <div class="row">
                    <div class="col-lg-4">
                      <div id="pwd-container3">
                        <div class="form-group">
                          <label for="password3">Nombre</label>
                          <input formControlName="nomfamilia"
                            [ngClass]="{'invalid-data': nomfamilia.invalid && (nomfamilia.touched || nomfamilia.dirty)}"
                            type="text" class="form-control" placeholder="Ingrese el Nombre de la Categoria" />
                            <div *ngIf="nomfamilia.invalid  && (nomfamilia.dirty || nomfamilia.touched)">
                              <div class="invalid-mensaje" *ngIf="nomfamilia.errors.required">
                                Nombre Requerido
                              </div>
                              <div class="invalid-mensaje" *ngIf="nomfamilia.errors.pattern">
                                Nombre Incorrecto
                              </div>
                            </div>
                        </div>

                      </div>
                    </div>

                  </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
