<div class="loading" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>


<div class="content-inner-all">
  <!-- Breadcome start-->
  <div class="breadcome-area mg-b-30 small-dn">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcome-list shadow-reset">
            <div class="row">
              <div class="col-lg-6">
              </div>
              <div class="col-lg-6">
                <ul class="breadcome-menu">
                  <li>
                    <a routerLink="/main/dashboard">Inicio</a>
                    <span class="bread-slash">/ Inventario /</span>
                  </li>
                  <li>
                    <a routerLink="/inventario/listarvalorinventario"><span class="bread-blod">
                        Movimientos de Inventario </span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Static Table Start -->
<div class="content-inner-all">
  <div class="data-table-area mg-b-15">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="sparkline13-list shadow-reset">
            <div class="sparkline13-hd">
              <div class="main-sparkline13-hd">
                <h1>
                  <i class="fa fa-server" aria-hidden="true"></i>
                  Movimientos <span class="table-project-n">de</span> Inventario
                </h1>
              </div>
            </div>
            <form [formGroup]="formatransacciones" (ngSubmit)="searchfilter($event)">
            <div class="sparkline8-graph">
              <div class="static-table-list">
                <mat-toolbar class="toolmenu">
                  <mat-toolbar-row>
                    <span class="example-spacer"></span>
                    <button class="botonmenu" mat-button [matMenuTriggerFor]="menu"
                      aria-label="Example icon-button with menu icon">
                      <mat-icon>save_alt</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button (click)="ExportarExcel()" mat-menu-item>Excel</button>
                      <button mat-menu-item (click)="ExportarTxt()">TXT</button>
                    </mat-menu>

                    <button mat-icon-button class="example-icon favorite-icon botonmenu"
                      aria-label="Example icon-button with heart icon">
                      <mat-icon (click)="Refrescar()">refresh</mat-icon>
                    </button>
                    <button mat-icon-button class="example-icon botonmenu"
                      aria-label="Example icon-button with share icon">
                      <mat-icon (click)="Importar()">file_upload</mat-icon>
                    </button>
                  </mat-toolbar-row>
                </mat-toolbar>
                <div class="row">

                  <div class="col-xs-12 col-12 col-sm-2 form-group">
                    <label for="password3">Fecha inicial</label>
                    <div class="input-group date">
                      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                      <input
                      class="form-control"
                      formControlName="fechadesde"
                      #datepickerFI="bsDatepicker"
                      bsDatepicker
                      [bsConfig]="bsConfig"
                      (bsValueChange)="onValueChangeFI($event)">
                    </div>
                  </div>
                  <div class="col-xs-12 col-12 col-sm-2 form-group">
                    <label for="password3">Fecha final</label>
                    <div class="input-group date">
                      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                      <input
                      class="form-control"
                      formControlName="fechahasta"
                      #datepickerFF="bsDatepicker"
                      bsDatepicker
                      [bsConfig]="bsConfig"
                      (bsValueChange)="onValueChangeFF($event)">
                    </div>
                  </div>
                  <div class="col-xs-12 col-12 col-sm-2 form-group">
                    <label for="password3">Bodega</label>

                      <select class="select2_demo_3 form-control" formControlName="codalmacen">
                        <option value="0">--Seleccione--</option>
                        <option
                          value="{{almacen.idalmacen}}" *ngFor="let almacen of lstAlmacenes">{{almacen.nombre}}
                        </option>
                      </select>

                  </div>
                  <div class="col-xs-12 col-12 col-sm-2 form-group">
                    <label for="password3">Producto</label>
                    <div class="input-group date">
                      <input type="text" class="form-control" formControlName="codarticulo"
                      placeholder="Codigo Items" style="width:100%" />
                      
                    <span class="input-group-btn"><button type="button" (click)="onListarArticulos()"
                        class="btn btn-primary"><i class="fa fa-search"></i></button></span>
                    </div>
                  </div>
                  <div class="col-xs-12 col-12 col-sm-2 form-group">
                    <label for="password3" style="color: white;">B</label>
                    <div class="input-group date">
                      <button type="submit" class="btn btn-custon-rounded-four btn-warning"><span
                          class="adminpro-icon "><i class="fa fa-search"></i></span> Buscar</button>
                        </div>
                  </div>
                </div>
                <table class="table" mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

                  <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->

                  <!-- Position Column -->
                  <ng-container matColumnDef="codigo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> CODIGO </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.codigo}} </mat-cell>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="nombre">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPCION </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.nomarticulo}} </mat-cell>
                  </ng-container>



                  <!-- Entrada Column -->
                  <ng-container matColumnDef="entrada">
                    <mat-header-cell *matHeaderCellDef> ENT </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.entrada}} </mat-cell>
                  </ng-container>


                  <!-- Salida Column -->
                  <ng-container matColumnDef="salida">
                    <mat-header-cell *matHeaderCellDef> SAL </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.salida}} </mat-cell>
                  </ng-container>

                  <!-- saldo Column -->
                  <ng-container matColumnDef="saldo">
                    <mat-header-cell *matHeaderCellDef> SALDO </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.saldo}} </mat-cell>
                  </ng-container>

                  <!-- Costo Column -->
                  <ng-container matColumnDef="costo">
                    <mat-header-cell *matHeaderCellDef> COSTO </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.costo}} </mat-cell>
                  </ng-container>

                  <!-- Costo Total Column -->
                  <ng-container matColumnDef="costototal">
                    <mat-header-cell *matHeaderCellDef> COSTO TOTAL </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.costo}} </mat-cell>
                  </ng-container>

                  <!-- Expanded Content Column - The detail row is made up of this one column -->
                  <ng-container matColumnDef="expandedDetail">
                    <mat-cell *matCellDef="let detail">
                      <app-table-transaccion-inventarios [masterRow]="detail.element">
                      </app-table-transaccion-inventarios>
                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row"
                    [class.expanded]="expandedElement == row" (click)="rowClick(row)"></mat-row>
                  <mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow"
                    [@detailExpand]="row.element == expandedElement ? 'expanded' : 'collapsed'"
                    style="overflow: hidden">
                  </mat-row>
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="8">No hay resultados para busqueda</td>
                  </tr>
                </table>

                <div class="mat-paginator-container">
                  <mat-paginator [length]="LengthTable" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
                    showFirstLastButtons>
                  </mat-paginator>
                </div>

              </div>

            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Static Table End -->
